.hidden {
  display: none !important;
}

.icon-round-background {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background-color: steelblue;

  position: relative;
}

.center-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
