.hidden {
  display: none !important;
}

.icon-round-background {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background-color: var(--dark-blue);
  opacity: 90%;

  position: relative;
  transition: all 0.25s;
}

/* change color while hover effect */
.icon-round-background__hover {
  background-color: var(--medium-grey);
}

.rating-box__hover {
  color: var(--white) !important;
}

/* change color while clicking effect */
.icon-round-background__clicked {
  background-color: var(--orange) !important;
}

.rating-box__clicked {
  color: var(--white) !important;
}

.center-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radial-gradient-bg {
  background-image: radial-gradient(
    circle at top,
    var(--dark-blue) 2%,
    var(--card-background) 70%,
    var(--card-background) 70%
  );
}
