.hidden {
  display: none !important;
}

.icon-round-background {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background-color: var(--dark-blue);
  opacity: 90%;

  position: relative;
}

.center-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radial-gradient-bg {
  background-image: radial-gradient(
    circle at top,
    var(--dark-blue) 2%,
    var(--card-background) 70%,
    var(--card-background) 70%
  );
}
