/* rating-box */
.rating-box {
  margin-bottom: 2rem;
}

/* rating-box__container */
.rating-box__container {
  display: flex;
  gap: 1.4rem;
}

/* rating-box__rate */
.rating-box__rate {
  border: none;
  background: none;
  color: var(--light-grey);
  font-weight: 700;
  font-size: 1rem;
}
