/* rating-card */
.rating-card {
}

/* rating-card__icon-box */
.rating-card__icon-box {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background-color: steelblue;

  position: relative;
}

/* rating-card__icon-image */
.rating-card__icon-image {
  width: 1.25rem;
  height: 1.176rem;
  max-width: 40%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* rating-card__title */
.rating-card__title {
}

/* rating-card__text */
.rating-card__text {
}

/* rating-card__submit */
.rating-card__submit {
}
