/* rating-card */
.rating-card {
  background-color: crimson;
  min-height: calc(100vh - 12px);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* rating-card__container */
.rating-card__container {
  background-color: indigo;
  max-width: 25.875rem;
  height: 26rem;
  margin-top: 17px;
  padding: 2rem 2.1rem;
  border-radius: 1.8rem;
}

/* rating-card__icon-box */
.rating-card__icon-box {
  margin-bottom: 1.92rem;
}

/* rating-card__icon-image */
.rating-card__icon-image {
  width: 1.25rem;
  height: 1.176rem;
  max-width: 40%;
}

/* rating-card__title */
.rating-card__title {
  font-size: 1.75rem;
  padding-bottom: 0.67rem;
}

/* rating-card__text */
.rating-card__text {
  font-size: 0.9375rem;
  line-height: 1.6;

  margin-bottom: 1.6rem;
}

/* rating-card__submit */
.rating-card__submit {
}
