/* thanks-card */
.thanks-card {
  background-color: indigo;
  min-height: calc(100vh - 12px);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* thanks-card__container */
.thanks-card__container {
  background-color: rgb(62, 65, 62);
  max-width: 412px;
  height: 415px;
  padding: 45px 32px;
  text-align: center;
  border-radius: 30px 28px 30px 28px;

  margin-top: 16px;
}

/* thanks-card__image-container */
.thanks-card__image-container {
  display: flex;
  justify-content: center;
  text-align: center;

  padding-bottom: 1.9rem;
}

/* thanks-card__image */
.thanks-card__image {
  width: 164px;

  margin-left: -7px;
}

/* thanks-card__rating */
.thanks-card__rating {
  background-color: crimson;
  color: rgb(62, 65, 62);
  font-size: 0.9375rem;
  max-width: 12rem;
  padding: 0.55rem 0 0.29rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10rem;

  margin-bottom: 2.2rem;
}

/* thanks-card__mark */
.thanks-card__mark {
}

/* thanks-card__title */
.thanks-card__title {
  font-size: 1.75rem;

  padding-bottom: 0.6rem;
}

/* thanks-card__text */
.thanks-card__text {
  font-size: 15.5px;
  letter-spacing: -0.18px;
  padding-right: 6px;
  line-height: 150%;
}
