/* thanks-card */
.thanks-card {
  background-color: var(--very-dark-blue);
  min-height: calc(100vh - 12px);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* thanks-card__container */
.thanks-card__container {
  background-color: var(--card-background);
  max-width: 25.75rem;
  /* height: 25.9375rem; */
  padding: 2.8125rem 2rem 3rem;
  text-align: center;
  border-radius: 1.875rem 1.75rem 1.875rem 1.75rem;

  margin-top: 1.15rem;
}

/* thanks-card__image-container */
.thanks-card__image-container {
  display: flex;
  justify-content: center;
  text-align: center;

  padding-bottom: 1.9rem;
}

/* thanks-card__image */
.thanks-card__image {
  width: 10.25rem;

  margin-left: -0.4375rem;
}

/* thanks-card__rating */
.thanks-card__rating {
  background-color: var(--dark-blue);
  color: var(--orange);
  font-size: 0.9375rem;
  max-width: 12rem;
  padding: 0.55rem 0 0.29rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10rem;
  opacity: 70%;

  margin-bottom: 2.2rem;
}

/* thanks-card__mark */
.thanks-card__mark {
}

/* thanks-card__title */
.thanks-card__title {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--white);

  padding-bottom: 0.6rem;
}

/* thanks-card__text */
.thanks-card__text {
  font-size: 0.96875rem;
  letter-spacing: -0.01125rem;
  padding-right: 0.375rem;
  line-height: 150%;
}

/* Media queries */
@media (max-width: 390px) {
  .thanks-card__container {
    max-width: 90%;
  }
}
